<style>
  @media only screen and (min-width: 0px) {
      .t1:after {
          content: 'I. Minimo';
          display: none;
      }
  }

  @media only screen and (min-width: 768px) {
      .t1:after {
          content: 'Intervalo Minimo';
          display: block;
      }
  }
  @media only screen and (min-width: 0px) {
      .t2:after {
          content: "I.Maximo";
          display: none;
      }
  }

  @media only screen and (min-width: 768px) {
      .t2:after {
          content: 'Intervalo Maximo';
          display: block;
      }
  }
  @media only screen and (min-width: 0px) {
      .y:after {
          content: 'F(0)';
          display: none;
      }
  }

  @media only screen and (min-width: 768px) {
      .y:after {
          content: 'Condicion Inicial';
          display: block;
      }
  }
  @media only screen and (min-width: 0px) {
      .ft:after {
          content: 'I.Maximo';
          display: none;
      }
  }

  @media only screen and (min-width: 768px) {
      .ft:after {
          content: 'Funcion';
          display: block;
      }
  }
  @media only screen and (min-width: 0px) {
      .h:after {
          content: '# Iteraciones';
          display: none;
      }
  }

  @media only screen and (min-width: 768px) {
      .h:after {
          content: 'Distancia entre X';
          display: block;
      }
  }

  </style>
    <section class="content-header">
      <h1>
        Runge-Kutta 4
         <small onclick="descriptionrk()"><i class="fa fa-info"></i>  Description</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Methods</a></li>
        <li class="active">Runge-Kutta 4</li>
      </ol>
    </section>

    <!-- Main content -->
    <div class="col-lg-offset-2 col-xs-offset-2 col-lg-8 col-xs-8">
  <section>
    <h4 class="nowrap">
      Runge Kutta 4
    </h4>
  </section>
<div class="col-xs-offset-1 col-lg-offset-0">
  <div class="col-lg-10 col-xs-11 input-group margin-top">
    <span class="input-group-addon t1" id="basic-addon1"></span>
    <input type="text" class="form-control" id="lag" placeholder="Funcion" aria-describedby="basic-addon1"></input>
  </div>

  <div class="col-lg-10 col-xs-11 input-group margin-top">
    <span class="input-group-addon t2" id="basic-addon1"></span>
    <input type="text" class="form-control" id="nw" placeholder="Valor Minimo" aria-describedby="basic-addon1">
  </div>

  <div class="col-lg-10 col-xs-11 input-group margin-top">
    <span class="input-group-addon y" id="basic-addon1"></span>
    <input type="text" class="form-control" id="li" placeholder="Valor Maximo" aria-describedby="basic-addon1">
  </div>

    <div class="col-lg-10 col-xs-11 input-group margin-top">
    <span class="input-group-addon ft" id="basic-addon1"></span>
    <input type="text" class="form-control" id="cu" placeholder="Valor Maximo" aria-describedby="basic-addon1">
  </div>

    <div class="col-lg-10 col-xs-11 input-group margin-top">
    <span class="input-group-addon h" id="basic-addon1"></span>
    <input type="text" class="form-control" id="op" placeholder="Valor Maximo" aria-describedby="basic-addon1">
  </div>
  </div>

<div class="col-xs-offset-5 col-sm-offset-7 col-md-offset-6 col-lg-offset-5 ">
  <button type="button" id="biseccion" onclick="runge()" class="btn btn-success calcular">Calcular</button>
</div>
<div id=pegar></div>
</div>

<br><br>

    <!-- /.content -->
