
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Practica Analisis Numerico</title>

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="../../node_modules/daterangepicker/daterangepicker-bs3.css">
  <link rel="stylesheet" href="../../node_modules/icheck/skins/all.css">
  <link rel="stylesheet" href="../../node_modules/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
  <link rel="stylesheet" href="../../node_modules/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
  <link rel="stylesheet" href="../../node_modules/select2/dist/css/select2.min.css">
  <link rel="stylesheet" href="../../css/cover.css">
  <link rel="stylesheet" href="../../css/cover2.css">
  <style>
  @media only screen and (min-width: 0px) {
      .numero:after {
          content: '# puntos';
          display: none;
      }
  }

  @media only screen and (min-width: 768px) {
      .numero:after {
          content: 'Numero de Puntos';
          display: block;
      }
  }
  </style>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header class="main-header">

    <a href="../../index.html" class="logo">

      <span class="logo-mini">AN</span>

      <span class="logo-lg">Practica Analisis Numerico</span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">

      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

    </nav>
  </header>

  <aside class="main-sidebar">

    <section class="sidebar">

       <ul class="sidebar-menu">
        <li class="treeview header">Non Linear Equations</li>
              <li class="treeview">
                <a>
                  Closed methods
                </a>
                <ul class="active treeview-menu">
                  <li><a href="../biseccion.html"><i class="fa fa-line-chart"></i> Bisection</a></li>
                  <li><a href="../puntofijo.html"><i class="fa fa-files-o"></i> Fixed Point</a></li>
                  <li><a href="../reglafalsa.html"><i class="fa fa-area-chart"></i> False Law</a></li>
                </ul>
                <a>
                  Opened methods
                </a>
                <ul class="treeview-menu">
                  <li><a href="../secante.html"> <i class="fa fa-pie-chart"></i> Secant</a></li>
                  <li><a href="../newton.html"><i class="fa fa-bar-chart"></i> Newton Raphson</a></li>
                </ul>
              </li>
              <li class="treeview header">Iterative Methods</li>
              <li class="treeview">
                <a>
                  Iterative
                </a>
                <ul class="treeview-menu">
                <li><a href="../Iterative/gaussian.html"><i class="fa fa-arrows-h"></i> Gaussian Elimination</a></li>
                  <li><a href="../Iterative/factorizacion.html"><i class="fa fa-arrows-h"></i> LU Factorization</a></li>
                  <li><a href="../Iterative/jacobi.html"> <i class="fa fa-balance-scale"></i>Jacobi</a></li>
                  <li><a href="../Iterative/gauss.html"> <i class="fa fa-circle-o"></i>Gauss-Seidel</a></li>
                </ul>
              </li>
              <li class="treeview header">Interpolating Methods</li>
              <li class="treeview">
                <a>
                  Interpolation
                </a>
                <ul class="treeview-menu">
                  <li><a href="../Interpolation/richardson.html"><i class="fa fa-circle-o"></i> Richardson</a></li>
                  <li><a href="../Interpolation/sor.html"><i class="fa fa-circle-o"></i> SOR</a></li>
                  <li><a href="../Interpolation/lagrange.html"><i class="fa fa-circle-o"></i> LaGrange</a></li>
                  <li><a href="../Interpolation/newton.html"><i class="fa fa-circle-o"></i> Newton</a></li>
                  <li><a href="../Interpolation/splinesl.html"><i class="fa fa-circle-o"></i> Lineal Splines</a></li>
                  <li><a href="../Interpolation/splinesc.html"><i class="fa fa-circle-o"></i> Cubic Splines</a></li>
                </ul>
              </li>
              <li class="treeview header">Numerical Integration Methods</li>
              <li class="treeview">
                <a>
                  Numerical Integration
                </a>
                <ul class="treeview-menu">
                  <li><a href="../Integration/trapecio.html"><i class="fa fa-circle-o"></i> Trapezium</a></li>
                  <li><a href="../Integration/trapecioC.html"><i class="fa fa-circle-o"></i> Complex Trapezium</a></li>
                  <li><a href="../Integration/simpson.html"><i class="fa fa-circle-o"></i> Simpson 1/3</a></li>
                  <li><a href="../Integration/simpsonC.html"><i class="fa fa-circle-o"></i> Complex Simpson 1/3</a></li>
                </ul>
              </li>
              <li class="treeview header">Diferential Equations Methods</li>
              <li class="treeview">
                <a>
                  Diferential Equations
                </a>
                <ul class="treeview-menu">
                  <li><a href="../Diferential/euler.html"><i class="fa fa-circle-o"></i> Euler</a></li>
                  <li><a href="../Diferential/eulerm.html"><i class="fa fa-circle-o"></i> Modified Euler</a></li>
                  <li><a href="../Diferential/rk4.html"><i class="fa fa-circle-o"></i> Runge-Kutta 4</a></li>

                </ul>
              </li>


      </ul>
    </section>

  </aside>


  <div class="content-wrapper">

    <section class="content-header">
      <h1>
        Complex Simpson
        <small onclick="description()"><i class="fa fa-info"></i>  Description</small>
      </h1>
      <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Methods</a></li>
        <li class="active">Complex Simpson</li>
      </ol>




<br><br>
<div class="col-lg-6 col-xs-6">
<div class="col-xs-offset-1 col-lg-offset-0">
  <div class="col-lg-10 col-xs-11 input-group margin-top">
    <span class="input-group-addon numero" id="basic-addon1"></span>
    <input type="text" class="form-control" id="numerop" placeholder="Numero de puntos" aria-describedby="basic-addon1"></input>

  </div><br>
  <button style="margin-left:5%" onclick="puntos()">Ejecutar</button><br>

  </div>

</div>


<BR><BR>

<div class="col-lg-10 col-xs-11 input-group margin-top" id="puntos">


    </div>
    <div class="result col-lg-10 col-xs-11 input-group margin-top"></div>


    </section>

    <!-- Main content -->

    <!-- /.content -->
  </div>


</div>

<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../node_modules/select2/dist/js/select2.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src="../../node_modules/daterangepicker/daterangepicker.js"></script>
<script src="../../node_modules/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<script src="../../node_modules/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="../../node_modules/iCheck/icheck.min.js"></script>
<script src="../../node_modules/fastclick/lib/fastclick.js"></script>
<script src="../../js/app.min.js"></script>
<script src="../../js/demo.js"></script>
<script src="simpsonC.js"></script>

</body>
</html>
