
  <style>
  @media only screen and (min-width: 0px) {
      .numero:after {
          content: '# puntos';
          display: none;
      }
  }

  @media only screen and (min-width: 768px) {
      .numero:after {
          content: 'Numero de Puntos';
          display: block;
      }
  }
  </style>

    <section class="content-header">
      <h1>
        Complex Trapezium
         <small onclick="descriptiontrac()"><i class="fa fa-info"></i>  Description</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Methods</a></li>
        <li class="active">Complex Trapezium</li>
      </ol>




<br><br>
<div class="col-lg-6 col-xs-6">
<div class="col-xs-offset-1 col-lg-offset-0">
  <div class="col-lg-10 col-xs-11 input-group margin-top">
    <span class="input-group-addon numero" id="basic-addon1"></span>
    <input type="text" class="form-control" id="numerop" placeholder="Numero de Puntos" aria-describedby="basic-addon1"></input>

  </div><br>
  <button style="margin-left:5%" onclick="puntos()">Ejecutar</button><br>

  </div>

</div>


<BR><BR>

<div class="col-lg-10 col-xs-11 input-group margin-top" id="puntos">

    </div>


    </section>

    <!-- Main content -->

    <!-- /.content -->
 