<style>
  @media only screen and (min-width: 0px) {
      .pn:after {
          content: 'I. Minimo';
          display: none;
      }
  }

  @media only screen and (min-width: 768px) {
      .pn:after {
          content: 'Numero de Puntos';
          display: block;
      }
  }
  @media only screen and (min-width: 0px) {
      .val:after {
          content: "I.Maximo";
          display: none;
      }
  }

  @media only screen and (min-width: 768px) {
      .val:after {
          content: 'Valor a Evaluar';
          display: block;
      }
  }

  </style>
    <section class="content-header">
      <h1>
        La Grange
         <small onclick="descriptionla()"><i class="fa fa-info"></i>  Description</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Methods</a></li>
        <li class="active">La Grange</li>
      </ol>
    </section>

    <!-- Main content -->
    <div class="col-lg-6 col-xs-6">
<div class="col-xs-offset-1 col-lg-offset-0">
  <div class="col-lg-10 col-xs-11 input-group margin-top">
    <span class="input-group-addon pn" id="basic-addon1"></span>
    <input type="text" class="form-control" id="lag" placeholder="Numero de puntos" aria-describedby="basic-addon1"></input><br>



  </div><br>
            <div class="col-lg-10 col-xs-11 input-group margin-top">
    <span class="input-group-addon val" id="basic-addon1"></span>
    <input type="text" class="form-control" id="evaluar" placeholder="Numero de puntos" aria-describedby="basic-addon1"></input><br>



  </div><br>
  <button style="margin-left:5%" onclick="lagranja()">Ejecutar</button><br>

  </div>
<div class="lagrange"></div>
</div>
    <!-- /.content -->
  