
    <section class="content-header">
      <h1>
        Cubic Splines
         <small onclick="descriptionspc()"><i class="fa fa-info"></i>  Description</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Methods</a></li>
        <li class="active">Cubic Splines</li>
      </ol>
    </section>

    <!-- Main content -->
<div class="col-lg-6 col-xs-6">
<div class="col-xs-offset-1 col-lg-offset-0">
  <div class="col-lg-10 col-xs-11 input-group margin-top">
    <span class="input-group-addon numero" id="basic-addon1"></span>
    <input type="text" class="form-control" id="cuspc" placeholder="Numero de puntos" aria-describedby="basic-addon1"></input>

  </div><br>
  <button style="margin-left:5%" onclick="splinesc()">Ejecutar</button><br>

  </div>
<div class="splinesc"></div>
</div>
    <!-- /.content -->

