
    <section class="content-header">
      <h1>
        Factorizacion LU
         <small onclick="descriptionlu()"><i class="fa fa-info"></i>  Description</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Methods</a></li>
        <li class="active">Factorizacion LU</li>
      </ol>
    </section><br><BR>
<div class="col-lg-offset-2 col-xs-offset-2 col-lg-8 col-xs-8">
    <div class="col-xs-offset-1 col-lg-offset-0">
      <div class="col-lg-10 col-xs-11 input-group margin-top">
        Matriz A <br>
        <input type="text" class="form-control" id="A00" placeholder="A00" aria-describedby="basic-addon1"></input>
        <input type="text" class="form-control" id="A01" placeholder="A01" aria-describedby="basic-addon1"></input>
        <input type="text" class="form-control" id="A02" placeholder="A02" aria-describedby="basic-addon1"></input>
</div>
    <div class="col-lg-10 col-xs-11 input-group margin-top">
        <input type="text" class="form-control" id="A10" placeholder="A10" aria-describedby="basic-addon1"></input>
        <input type="text" class="form-control" id="A11" placeholder="A11" aria-describedby="basic-addon1"></input>
        <input type="text" class="form-control" id="A12" placeholder="A12" aria-describedby="basic-addon1"></input>
</div>
    <div class="col-lg-10 col-xs-11 input-group margin-top">
        <input type="text" class="form-control" id="A20" placeholder="A20" aria-describedby="basic-addon1"></input>
        <input type="text" class="form-control" id="A21" placeholder="A21" aria-describedby="basic-addon1"></input>
        <input type="text" class="form-control" id="A22" placeholder="A22" aria-describedby="basic-addon1"></input><br>
</div>
    <div class="col-lg-10 col-xs-11 input-group margin-top">
        Vector Y <br>
        <input type="text" class="form-control" id="Y0" placeholder="Y0" aria-describedby="basic-addon1"><br>
        <input type="text" class="form-control" id="Y1" placeholder="Y1" aria-describedby="basic-addon1"><br>
        <input type="text" class="form-control" id="Y2" placeholder="Y2" aria-describedby="basic-addon1"><br>
      </div>

      </div><br>
<button type="button" class="btn btn-success calcular" style="margin-left:5%" onclick="faclu()">Ejecutar</button><br>
      <div class="resultado"></div>

      </div>
    <!-- Main content -->

    <!-- /.content -->
