
    <section class="content-header">
      <h1>
        Gaussian Elimination
         <small onclick="descriptiongau()"><i class="fa fa-info"></i>  Description</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Methods</a></li>
        <li class="active">Gaussian Elimination</li>
      </ol>
    </section>

<div class="col-lg-offset-2 col-xs-offset-2 col-lg-8 col-xs-8">
    <div class="col-xs-offset-1 col-lg-offset-0">
    <div class="col-lg-10 col-xs-11 input-group margin-top">
    Puntos:
    <input type="text" class="form-control" id="puntoseg" placeholder="(a,b,c)(d,e,f)(g,h,i)" aria-describedby="basic-addon1"></input><br><br>
    Vector B:
    <input type="text" class="form-control" id="vecteg" placeholder="(a,b,c)" aria-describedby="basic-addon1"></input><br><br>
    Numero Incognitas:
    <input type="text" class="form-control" id="numeg" placeholder="N" aria-describedby="basic-addon1"></input>

  </div></div>

<button type="button" class="btn btn-success calcular" style="margin-left:5%" onclick="eliminacionG()">Ejecutar</button><br>
    <div class="resultadoeli"></div>
    </div>
    <!-- Main content -->

    <!-- /.content -->
